<section>
  <% @items.each do |item| %>
  <article>
    <dl>
      <dt>Item: </dt>
      <dd> <%= item['item']%></dd>
    </dl>
    <a href="/items/<%= item['id']%>">show</a>
  </article>

  <form method="post" action="/items/<%= item['id']%>/delete">
  <button> Delete </button>
  </form>
  <% end %>
</section>

