<form method="post" action="/items">
<dl>
  <dt><label for= 'item'>Item:</label></dt>
  <dd><input id='item' name="item" type="text" autofocus></dd>
</dl>
<dl>
  <dt><label for= 'details'>Details:</label></dt>
  <dd><textarea id='details' name="details"></textarea></dd>
</dl>
  <button>Add Task</button>



</form>