<section>
  <article>
    <dl>
      <dt>Item: </dt>
      <dd><%= @item['item']%></dd>
    </dl>
    <dl>
      <dt>Details: </dt>
      <dd><%= @item['details']%></dd>
    </dl>
  </article>

  <a href="/items/<%= @item['id']%>/edit">Edit</a>

</section>

